{% extends 'app_note/base.html' %}

{% block content %}

<div class="container text-center">
    <br>
    <h1>Notes</h1>
    <hr><br>
    <a href = "{% url 'add_note' %}" class="btn btn-primary" type="button"><i class="fas fa-plus"></i><b> Add Note</b></a>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        {% for note in notes %}
            <div class="col-md-6">
                <div class="card card-body" style="margin-bottom: 50px;">
                    <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
                        <h3><a href="{% url 'note_detail' note.id %}" style="color: black; text-decoration: none" >{{ note.title }}</a></h3>
                        <div>
                            <a href="{% url 'note_edit' note.id %}" class="btn btn-primary"><i class="far fa-edit"></i></a>
                        <a href="{% url 'note_delete' note.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <hr>
                    <h6 style = "padding-left:25px ;">{{ note.description }}</h6>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

<!-- 
{% for note in notes %}
        <h3>{{ note }}</h3>
    {% endfor %} -->