{% extends 'app_note/base.html' %}

{% block content %}

<div class="container text-center">
    
    <br>
    <h1>Edit Note</h1>
    <hr><br>

    <div class="card card-body">
        <form action="" method="post">
            {% csrf_token %}
            <div class="customer" style="display: none;" >{{ form.cust_id }}</div>

            <div class="form-floating mb-3">
                {{ form.note_title }}
                <label for="titleInput">Title</label>
            </div>
            <div class="form-floating">
                {{ form.note_body }}
                <label for="noteInput">Description</label>
            </div>
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Edit Note">
            
        </form>
    </div>

</div>

{% endblock %}